:root {
    --color-blue: #4BCAD2;    
}
*{
  background-color: #072145;
}
h1{
  color: var(--color-blue);
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  outline: none;
  text-shadow: 4px 4px 4px black
}
h2{
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 5%; 
  outline: none;
  margin-bottom: 4%;
}
table{
  border-spacing: 15px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: left;
}
th{
  width: 25%;
  text-align: right;
}
td{
  width: 25%;
  text-align: left;
}
