:root {
    --color-blue: #4BCAD2;
}
*{
  background-color: #072145;
  margin:0;
  padding:0;
}

html, body{
  height: 100%;
  width: 100%;
}
h1{
  color: var(--color-blue);
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  outline: none;
  text-shadow: 4px 4px 4px black
}
h2{
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 5%;
  outline: none;
  margin-bottom: 4%;
}
table{
  border-spacing: 15px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: left;
}
th{
  width: 25%;
  text-align: right;
}
td{
  width: 25%;
  text-align: left;
}

button{
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: red;
  cursor: pointer;
}

.hidden{
  display: none;
}

#respuesta{
  height: 500px;
  width: 800px;
  margin-right:  auto;
  margin-left: auto;
  position: relative; 
   top: 50%;
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}



#respuesta button{
  position: absolute;
  bottom: 20px;
  display: block;
  width: 180px;
  left: calc(50% - 90px);
}
